[Unit]
Description=Drone Transponder Flask/React App
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/steel-eagle/transponder/flask
ExecStart=/home/ubuntu/.local/bin/gunicorn -b :8080 -k gevent -w 1 api:app
Restart=always

[Install]
WantedBy=multi-user.target