#/usr/bin/python3
{% include "./anafi/imports.py.jinja2" %}
{% include "./anafi/transponder.py.jinja2" %}
{% import './anafi/macros.py.jinja2' as macros with context%}



if __name__ == "__main__":
        
    #eventually IP will be specified depending on what drone is chosen
    IP = {{ drone_ip|default("'192.168.42.1'")}}
    drone = olympe.Drone(IP)
    drone.connect()
    {{ macros.TransponderThreadStart() }}
    drone(TakeOff()).wait().success()

    {% for k,v in placemarks.items() %}
    #####{{v.name}}/{{v.task}} START#####
    #####{{v.kwargs}}#####
    {%- if v.task == "TakePhotosAlongPath" %}
    {{ macros.TakePhotosAlongPath(**v.kwargs) }}
    {% elif v.task == "SetNewHome" %}
    {{ macros.SetNewHome(**v.kwargs) }}
    {% endif -%}
    #####{{v.name}}/{{v.task}} END#####
    {% endfor %}

    drone(Landing()).wait().success()
    broadcasting = False
    {{ macros.TransponderThreadStop() }}
    drone.disconnect()
