import olympe
from olympe.messages.ardrone3.Piloting import TakeOff, Landing, moveTo
import olympe.enums.move as mode
from olympe.messages.ardrone3.PilotingState import SpeedChanged, GpsLocationChanged, FlyingStateChanged, moveToChanged

import threading
import requests
import math
import time