import olympe
from olympe.messages.camera import set_camera_mode, set_photo_mode, take_photo
from olympe.messages.gimbal import set_target, set_offsets, start_offsets_update, stop_offsets_update, offsets, attitude
from olympe.messages.ardrone3.Piloting import TakeOff, moveBy, Landing, moveTo, NavigateHome
from olympe.messages.ardrone3.PilotingSettings import MaxTilt
from olympe.messages.ardrone3.PilotingState import FlyingStateChanged, GpsLocationChanged, SpeedChanged, moveToChanged
import olympe.enums.move as mode
import olympe.enums.camera as camera
import olympe.enums.gimbal as gimbal
import threading
import requests
import math
import time