export const MAPBOX_TOKEN = 'pk.eyJ1IjoidGVpc3psZXIiLCJhIjoiY21rZTQydXd4MDNiZTNkcHZsZWVuMzA4NiJ9.pHpfkzQdhOGJftebOkutxw';
export const WEBSERVER_URL = "http://localhost:8080";
export const FASTAPI_URL = "http://localhost:8000";
export const USE_LOCAL_VEHICLE = true;
export const WEBSOCKET_URL = "ws://localhost:8000";
