# SPDX-FileCopyrightText: 2023 Carnegie Mellon University - Satyalab
#
# SPDX-License-Identifier: CC0-1.0
# SPDX-License-Identifier: GPL-2.0-only

gabriel-server
opencv-python>=3, <5
py-cpuinfo
validators
randomname
jsonschema
Pillow
redis
zmq
protobuf
requests
pyyaml
aiohttp
aiofiles
pytz
steeleagle-sdk>=1.0.6
aiorwlock



