# SPDX-FileCopyrightText: 2023 Carnegie Mellon University - Satyalab
#
# SPDX-License-Identifier: CC0-1.0

gabriel-client
randomname
Pillow
tkintermapview
customtkinter
pynput
websockets>=10.0
python-dotenv