// SPDX-FileCopyrightText: 2023 Carnegie Mellon University - Satyalab
//
// SPDX-License-Identifier: GPL-2.0-only

package edu.cmu.cs.dronebrain;

import java.lang.Thread;
import java.util.PriorityQueue;
import java.util.Comparator;
import java.util.HashMap;
import edu.cmu.cs.dronebrain.interfaces.CloudletItf;
import edu.cmu.cs.dronebrain.interfaces.DroneItf;
import edu.cmu.cs.dronebrain.interfaces.FlightScript;
import edu.cmu.cs.dronebrain.interfaces.Task;
import android.util.Log;

// import derived tasks
{%- for k,v in placemarks.items() %}
import edu.cmu.cs.dronebrain.{{v.task}};
{%- endfor %}

public class MS extends FlightScript {
    
    @Override
    public void run() {

        Comparator<Task> comp = new Comparator<Task>() {
            @Override
            public int compare(Task t1, Task t2) {
                return 0;
            }
        };
        try {
            HashMap<String, String> kwargs =  new HashMap<String, String>();
            taskQueue = new PriorityQueue<Task>(1, comp);
            {%- for k,v in placemarks.items() %}
            // {{v.name}}/{{v.task}} START //
            kwargs.clear();
            {%- for param, value in v.kwargs.items() %}
            kwargs.put("{{param}}", "{{value}}");
            {%- endfor %}
            taskQueue.add(new {{v.task}}(drone, cloudlet, kwargs));
            {%- endfor %}

            drone.connect();
            drone.takeOff();
	        execLoop();
	    } catch (Exception e) {
            Log.i("FlightScript", e.toString());
	    }
    }

    @Override
    public void pause() {}
}
