/* Copyright 2022 Carnegie Mellon University

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License. 
*/
{% import 'macros.jinja2' as macros with context %}

package edu.cmu.cs.dronebrain;

import java.lang.Thread;
import edu.cmu.cs.dronebrain.interfaces.CloudletItf;
import edu.cmu.cs.dronebrain.interfaces.DroneItf;
import edu.cmu.cs.dronebrain.interfaces.FlightScript;
import edu.cmu.cs.dronebrain.interfaces.Platform;

public class MS extends FlightScript {
    
    public MS() {
        platform = Platform.ANAFI;
    }

    public void setDrone(DroneItf d) {
        drone = d;
        try {
            drone.init();
        } catch(Exception e) {

        }
    }

    public void setCloudlet(CloudletItf c) {
        cloudlet = c;
        try {
            cloudlet.init();
        } catch(Exception e) {

        }
    }

    public void run() {
        try {
            drone.connect();
            drone.takeOff();

        
            {% for k,v in placemarks.items() %}
            // {{v.name}}/{{v.task}} START
            //{{v.kwargs}}
            {%- if v.task == "TakePhotosAlongPath" %}
            {{ macros.TakePhotosAlongPath(**v.kwargs) }}
            {% elif v.task == "SetNewHome" %}
            {{ macros.SetNewHome(**v.kwargs) }}
            {% elif v.task == "MoveTo" %}
            {{ macros.MoveTo(**v.kwargs) }}
            {% elif v.task == "DetectObjectsAlongPath" %}
            {{ macros.DetectObjectsAlongPath(**v.kwargs) }}
            {% elif v.task == "Land" %}
            {{ macros.Land(**v.kwargs) }}
            {% endif -%}
            //{{v.name}}/{{v.task}} END
            {% endfor %}

            drone.disconnect();

        }
        catch( Exception e) {

        }

    }

}
