#/usr/bin/python3
import olympe
from olympe.messages.ardrone3.Piloting import TakeOff, Landing, moveTo
import olympe.enums.move as mode
from olympe.messages.ardrone3.PilotingState import FlyingStateChanged, moveToChanged

if __name__ == "__main__":
        
    #eventually IP will be specified depending on what drone is chosen
    IP = "192.168.42.1" 
    drone = olympe.Drone(IP)
    drone.connect()
    drone(TakeOff()).wait().success()
    drone(
    {%- for c in coords -%}
        moveTo({{c.lat}}, {{c.lng}}, {{c.alt}}, mode.orientation_mode.to_target, 0.0)
        >> moveToChanged(latitude={{c.lat}}, longitude={{c.lng}}, altitude={{c.alt}}, orientation_mode=mode.orientation_mode.to_target, status='DONE')
        {%- if loop.nextitem is defined %}
        >>
        {%- endif -%}
    {%- endfor -%}
    ).wait().success()
    drone(Landing()).wait().success()
    drone.disconnect()