
[cors]
origins = [
    "*",
]

[backend]
[backend.machine1]
swarm-controller = "localhost:5004"
redis_host = "localhost"
redis_port = 6379
redis_username = "steeleagle"
redis_password = ""
webserver = "http://localhost:8080"

[dslcompiler]
controller = "localhost:50060"
