from interfaces.FlightScript import FlightScript
import threading
# Import derived tasks
{%- for k,v in placemarks.items() %}
from task_defs.{{v.task}} import {{v.task}}
{%- endfor %}

class MS(FlightScript, threading.Thread):
   
    def __init__(self, drone, cloudlet):
        threading.Thread.__init__(self)
        super().__init__(drone, cloudlet)
 
    def run(self):
        try:
            kwargs = {}
            {%- for k,v in placemarks.items() %}
            # {{v.name}}/{{v.task}} START
            kwargs.clear()
            {%- for param, value in v.kwargs.items() %}
            kwargs["{{param}}"] = "{{value}}"
            {%- endfor %}
            t = {{v.task}}(self.drone, self.cloudlet, **kwargs)
            self.taskQueue.put(t)
            print("Added task {{v.task}} to the queue")
            {%- endfor %}
            
            self.drone.takeOff()
            self._execLoop()
        except Exception as e:
            print(e)
