build/

# ide
/.idea/*.xml
/.idea/.gitignore
/.idea/modules/*
/.idea/shelf/*
/.idea/codeStyles/*
/.idea/dictionaries/*
/.idea/.name
/.idea/inspectionProfiles/Project_Default.xml
/.gradle/
/.fleet/
/.vs/
/.vscode/
*.iml
gradle.properties

# mac
.DS_Store

# lombok
lombok.config

# output
/*/out/

# mission creator
python/project/Mission.py
python/project/requirements.txt


# keep the gradle wrapper
!/gradle/wrapper/*.jar



