# SPDX-FileCopyrightText: 2025 Carnegie Mellon University - Satyalab
#
# SPDX-License-Identifier: CC0-1.0
# SPDX-License-Identifier: GPL-2.0-only

# Environment variables (e.g. ${GABRIEL_IMAGE_TAG}) should
# reside in a .env file along side docker-compose.yaml
# Copy/move template.env -> .env

services:
  # Core Gabriel Server
  # Handles incoming data connections from vehicles and
  # routes data to cognitive engines for processing
  gabriel-server:
    image: cmusatyalab/gabriel-server:${GABRIEL_IMAGE_TAG}
    container_name: gabriel-server
    ports:
      - "9099:9099"
      - "5555:5555"
    entrypoint: [ "./main.py", "-t", "${GABRIEL_TOKENS}", "-z"]
    restart: unless-stopped
    networks:
      - steeleagle-net

  # Telemetry Engine
  # Writes telemetry data to Redis and imagery to disk
  telemetry-engine:
    image: cmusatyalab/steeleagle-telemetry-engine:${TELEMETRY_IMAGE_TAG}
    container_name: telemetry-engine
    restart: on-failure:3
    privileged: true
    entrypoint: [ "./telemetry.py", "-a", "${REDIS_AUTH}"]
    depends_on:
      - gabriel-server
    networks:
      - steeleagle-net
      - redis
    volumes:
      - ./steeleagle-vol:/images/
    environment:
      - PYTHONPATH=/protocol
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  # Obstacle Avoidance Engine
  # Uses Metric3D (or MiDaS) model to estimate depth for vehicles
  obstacle-engine:
    image: cmusatyalab/steeleagle-vision-engines:${OBSTACLE_IMAGE_TAG}
    container_name: obstacle-engine
    restart: on-failure:3
    privileged: true
    entrypoint: ["./depth.py", "--source", "telemetry", "--model", "${DEPTH_MODEL}", "--threshold", "${DEPTH_THRESHOLD}", "${STORE}", "-a", "${REDIS_AUTH}", "${USE_METRIC3D}"]
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              capabilities:
                - gpu
    volumes:
      - ./steeleagle-vol:/steeleagle/images/
      - ./models:/root/.cache/torch/hub/
    depends_on:
      - gabriel-server
    networks:
      - steeleagle-net
      - redis
    environment:
      - PYTHONPATH=/steeleagle/protocol
    #  - TF_FORCE_GPU_ALLOW_GROWTH=true #the following environment variable may be necessary if your GPU only has a modest (~2GB) amount of RAM
    #  - CUDA_VISIBLE_DEVICES=1 #set this if you want to force CPU only
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  # Object Detection Engine
  # Performs object detection, returns bounding boxes to vehicles and
  # stores detections in Redis; also optionally performs HSV filtering
  # on detected objects
  object-engine:
    image: cmusatyalab/steeleagle-vision-engines:${OBJECT_IMAGE_TAG}
    container_name: object-engine
    restart: on-failure:3
    privileged: true
    entrypoint:
      [
        "./obj.py",
        "--source",
        "telemetry",
        "--model",
        "${DNN}",
        "--threshold",
        "${OBJ_THRESHOLD}",
        "--exclude",
        "${EXCLUSIONS}",
        "${STORE}",
        "-a",
        "${REDIS_AUTH}",
        "-hsv",
        "${HSV_THRESHOLD}",
        "--geofence",
        "${GEOFENCE_FILE}",
        "--ttl",
        "${OBJECT_TTL}",
        "${GEOFENCE_ENABLED}",
        "--radius",
        "${OBJECT_RADIUS}"
      ]
    runtime: nvidia
    volumes:
      - ./models:/steeleagle/model/
      - ./steeleagle-vol:/steeleagle/images/
      - ./geofence:/steeleagle/geofence/
    depends_on:
      - gabriel-server
    networks:
      - steeleagle-net
      - redis
    environment:
      - WEBSERVER=${WEBSERVER_URL}:${HTTP_PORT}
      - PYTHONPATH=/steeleagle/protocol
    #  - TF_FORCE_GPU_ALLOW_GROWTH=true #the following environment variable may be necessary if your GPU only has a modest (~2GB) amount of RAM
    #  - CUDA_VISIBLE_DEVICES=-1 #set this if you want to force CPU only
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  # SLAM Engine
  # Routes images to TerraSLAM backend for localization and mapping
  slam-engine:
    image: cmusatyalab/steeleagle-slam-engine:${SLAM_IMAGE_TAG}
    container_name: slam-engine
    restart: on-failure:3
    privileged: true
    entrypoint: ["python3","./slam.py", "-s", "{TERRASLAM_HOST}", "-a", "${REDIS_AUTH}",  "--source", "telemetry"]
    depends_on:
      - gabriel-server
      - redis
    networks:
      - steeleagle-net
      - redis
    environment:
      - PYTHONPATH=/steeleagle/protocol
    volumes:
      - ./steeleagle-vol:/steeleagle/images/
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  # Swarm Controller
  # Centralized processing of control plane for all vehicles
  swarm-controller:
    image: cmusatyalab/steeleagle-swarm-controller:${SC_IMAGE_TAG}
    container_name: swarm-controller
    restart: unless-stopped
    ports:
      - "5003:5003"
      - "5004:5004"
      - "6001:6001"
    privileged: true
    entrypoint: [ "./swarm_controller.py", "-a", "${REDIS_AUTH}"]
    volumes:
      - ./steeleagle-vol/compiler/:/compiler
      - ./steeleagle-vol/scripts/:/scripts
      - ./steeleagle-dsl:/dsl
    networks:
      - steeleagle-net
      - redis
    environment:
      - PYTHONPATH=/protocol
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  # Webserver
  # Hosts vehicles imagery (raw, detections, obstacle avoidance) for GCS
  http-server:
    image: httpd:2.4
    container_name: http-server
    ports:
      - "${HTTP_PORT}:80"
    restart: unless-stopped
    logging:
      driver: none
    networks:
      - steeleagle-net
    volumes:
      - ./steeleagle-vol:/usr/local/apache2/htdocs

  redis:
    image: redis/redis-stack:${REDIS_VERSION}
    container_name: redis
    restart: unless-stopped
    privileged: true
    ports:
      - 6379:6379
      - ${REDIS_HOST}:8001:8001
    networks:
      - redis
    volumes:
      - ./redis:/data
      - ./redis/redis.conf:/redis-stack.conf

networks:
  steeleagle-net:
    name: steeleagle-net
    ipam:
      driver: default
      config:
        - subnet: 11.11.0.0/24
  redis:
    ipam:
      driver: default
      config:
        - subnet: 12.12.0.0/24
