.map-h2 {
    text-transform: uppercase;
    font-size: 1rem;
    padding: 20px;
    padding-left: 10px;
    text-align: center;
  }
  
  .google-map {
    width: 100%;
    height: 60vh;
  }
  
  .pin {
    width: 18px;
    height: 18px;
  }
  
  .pin-text {
    font-size: 1.3em;
    width: 200px;
  }
  
  @media screen and (min-width: 799px) {
    .google-map {
      height: 80vh;
    }
  
    .map-h2 {
      font-size: 1.3rem;
      font-weight: 400;
    }

  }