# SPDX-FileCopyrightText: 2023 Carnegie Mellon University - Satyalab
#
# SPDX-License-Identifier: CC0-1.0
# SPDX-License-Identifier: GPL-2.0-only

gabriel-server
gabriel-client
opencv-python>=3, <5
py-cpuinfo
validators
randomname
jsonschema
Pillow
redis
zmq
protobuf==3.20.0
requests