name: Build and push swarm controller

on:
  push:
    branches: [ "main", "dev" ]
    tags: [ "v*" ]
    paths:
      - '.github/workflows/build-swarm-controller.yml'
      - 'backend/server/swarm_controller/**'

jobs:
  build-and-push:
    uses: ./.github/workflows/deploy-docker-img.yml
    with:
      name: steeleagle-swarm-controller
      dockerfile: backend/server/swarm_controller/Dockerfile
      ctx: backend/server/swarm_controller/
    secrets: inherit
